%h1.page-header= "Rating Panels for '#{@image.title}'"
.row-fluid
  %aside.span4
    =render 'images/show_aside'
  %section.span8
    - if @image.rating_panels.empty?
      .alert no rating panels for this image
    - else
      .row-fluid= render 'panel_listing', panels: @image.rating_panels, columns: 2

    %button.btn= link_to "New Panel", new_image_rating_panel_path(@image)
